[user]
	email = luke.naylr@gmail.com
	name = Luke Naylor
[init]
	defaultBranch = main
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[core]
	editor = nvim
[includeIf "gitdir:~/Documents/repos/lnay_github/"]
	path = ~/Documents/repos/lnay_github/.gitconfig
[includeIf "gitdir:~/Documents/repos/s1511002_gitlab/"]
	path = ~/Documents/repos/s1511002_gitlab/.gitconfig
